<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <ul>
        {% for Car in Cars %}
            <li> owner-id:{{ Car.owner }}</li>
        {% endfor %}
    </ul>
    <ul class="pagination">
        {# 上一页 #}
        {% if page_obj.has_previous %}
            <li><a href="{% url 'car_list' %}?p={{ page_obj.previous_page_number }}">上一页</a></li>
        {% else %}
            <li class="disable"><span>上一页</span></li>
        {% endif %}

    
        {# 中间 #}
        {% for page in paginator.page_range %}
            <li><a href="{% url 'car_list' %}?p={{ page }}">{{ page }}</a></li>
        {% endfor %}


        {# 上一页 #}
        {% if page_obj.has_next %}
            <li><a href="{% url 'car_list' %}?p={{ page_obj.next_page_number }}">下一页</a></li>
        {% else %}
            <li class="disable"><span>下一页</span></li>
        {% endif %}
    </ul>
</body>
</html>